* {
    box-sizing: border-box;

    padding: 0;
    margin: 0;

    font-family: 'Yanone Kaffeesatz', sans-serif;
}

a {
    text-decoration: none;
    color: black;
}

body {
    background-color: #171717;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='236' height='236' viewBox='0 0 200 200'%3E%3Cg fill='none' stroke='%23444444' stroke-width='0.6' stroke-opacity='0.25'%3E%3Crect x='-40' y='40' width='75' height='75'/%3E%3Crect x='-35' y='45' width='65' height='65'/%3E%3Crect x='-30' y='50' width='55' height='55'/%3E%3Crect x='-25' y='55' width='45' height='45'/%3E%3Crect x='-20' y='60' width='35' height='35'/%3E%3Crect x='-15' y='65' width='25' height='25'/%3E%3Crect x='-10' y='70' width='15' height='15'/%3E%3Crect x='-5' y='75' width='5' height='5'/%3E%3Crect width='35' height='35'/%3E%3Crect x='5' y='5' width='25' height='25'/%3E%3Crect x='10' y='10' width='15' height='15'/%3E%3Crect x='15' y='15' width='5' height='5'/%3E%3Crect x='40' width='75' height='75'/%3E%3Crect x='45' y='5' width='65' height='65'/%3E%3Crect x='50' y='10' width='55' height='55'/%3E%3Crect x='55' y='15' width='45' height='45'/%3E%3Crect x='60' y='20' width='35' height='35'/%3E%3Crect x='65' y='25' width='25' height='25'/%3E%3Crect x='70' y='30' width='15' height='15'/%3E%3Crect x='75' y='35' width='5' height='5'/%3E%3Crect x='40' y='80' width='35' height='35'/%3E%3Crect x='45' y='85' width='25' height='25'/%3E%3Crect x='50' y='90' width='15' height='15'/%3E%3Crect x='55' y='95' width='5' height='5'/%3E%3Crect x='120' y='-40' width='75' height='75'/%3E%3Crect x='125' y='-35' width='65' height='65'/%3E%3Crect x='130' y='-30' width='55' height='55'/%3E%3Crect x='135' y='-25' width='45' height='45'/%3E%3Crect x='140' y='-20' width='35' height='35'/%3E%3Crect x='145' y='-15' width='25' height='25'/%3E%3Crect x='150' y='-10' width='15' height='15'/%3E%3Crect x='155' y='-5' width='5' height='5'/%3E%3Crect x='120' y='40' width='35' height='35'/%3E%3Crect x='125' y='45' width='25' height='25'/%3E%3Crect x='130' y='50' width='15' height='15'/%3E%3Crect x='135' y='55' width='5' height='5'/%3E%3Crect y='120' width='75' height='75'/%3E%3Crect x='5' y='125' width='65' height='65'/%3E%3Crect x='10' y='130' width='55' height='55'/%3E%3Crect x='15' y='135' width='45' height='45'/%3E%3Crect x='20' y='140' width='35' height='35'/%3E%3Crect x='25' y='145' width='25' height='25'/%3E%3Crect x='30' y='150' width='15' height='15'/%3E%3Crect x='35' y='155' width='5' height='5'/%3E%3Crect x='200' y='120' width='75' height='75'/%3E%3Crect x='40' y='200' width='75' height='75'/%3E%3Crect x='80' y='80' width='75' height='75'/%3E%3Crect x='85' y='85' width='65' height='65'/%3E%3Crect x='90' y='90' width='55' height='55'/%3E%3Crect x='95' y='95' width='45' height='45'/%3E%3Crect x='100' y='100' width='35' height='35'/%3E%3Crect x='105' y='105' width='25' height='25'/%3E%3Crect x='110' y='110' width='15' height='15'/%3E%3Crect x='115' y='115' width='5' height='5'/%3E%3Crect x='80' y='160' width='35' height='35'/%3E%3Crect x='85' y='165' width='25' height='25'/%3E%3Crect x='90' y='170' width='15' height='15'/%3E%3Crect x='95' y='175' width='5' height='5'/%3E%3Crect x='120' y='160' width='75' height='75'/%3E%3Crect x='125' y='165' width='65' height='65'/%3E%3Crect x='130' y='170' width='55' height='55'/%3E%3Crect x='135' y='175' width='45' height='45'/%3E%3Crect x='140' y='180' width='35' height='35'/%3E%3Crect x='145' y='185' width='25' height='25'/%3E%3Crect x='150' y='190' width='15' height='15'/%3E%3Crect x='155' y='195' width='5' height='5'/%3E%3Crect x='160' y='40' width='75' height='75'/%3E%3Crect x='165' y='45' width='65' height='65'/%3E%3Crect x='170' y='50' width='55' height='55'/%3E%3Crect x='175' y='55' width='45' height='45'/%3E%3Crect x='180' y='60' width='35' height='35'/%3E%3Crect x='185' y='65' width='25' height='25'/%3E%3Crect x='190' y='70' width='15' height='15'/%3E%3Crect x='195' y='75' width='5' height='5'/%3E%3Crect x='160' y='120' width='35' height='35'/%3E%3Crect x='165' y='125' width='25' height='25'/%3E%3Crect x='170' y='130' width='15' height='15'/%3E%3Crect x='175' y='135' width='5' height='5'/%3E%3Crect x='200' y='200' width='35' height='35'/%3E%3Crect x='200' width='35' height='35'/%3E%3Crect y='200' width='35' height='35'/%3E%3C/g%3E%3C/svg%3E");
    background-attachment: fixed;
}

/*  display
    position

    box-model (intern to extern)
    
    size*/

/*----------------------header----------------------*/

header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    position: sticky;
    top: 0;
    left: 0;
    right: 0;

    background-color: #EDEDED;
    border-bottom: 1.5px solid #CBC7C7;

    box-sizing: border-box;
    box-shadow: -1px 0px 15px 5px #da0037;

    width: 100%;
    height: 80px;
}

header h1 {
    margin-left: 15px;

    font-size: 2em;
}

#menu {
    display: flex;
    justify-content: space-around;

    list-style-type: none;

    padding: 0;
    margin: 0px 15px 0px 0px;
}

.menu_itens {
    display: flex;
    align-items: center;

    margin: 0px 15px;

    font-size: 1.2em;
}

/*----------------------section destaque----------------------*/

#destaque {
    display: flex;
    justify-content: center;

    width: 100%;

    padding-bottom: 40px;
    margin-top: 35px;
}

#destaque figure {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    margin: 0;
    padding: 25px 25px 0px;

    width: 60%;

    background-color: rgba(68, 68, 68, 0.8);
}

#destaque img {
    width: 100%;
}

#destaque h2 {
    width: 100%;
    height: 50px;

    margin: 0;
    margin-top: 20px;

    text-align: center;
}

/*----------------------section marcas----------------------*/

#selecao_marcas nav {
    width: 100%;
}

#selecao_marcas ul {
    display: flex;
    justify-content: space-around;

    padding: 0;
    margin: 0;
}

.marcas {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;

    width: 30%;
    height: 120px;

    padding: 20px 0px;

    font-size: 1.2em;
}

.marcas img {
    display: flex;
    align-items: flex-start;

    height: 60%;
}


/*----------------------about us----------------------*/

.description_articles {
    display: flex;
    justify-content: space-around;

    text-align: justify;
    font-size: 1.1em;

    margin-bottom: 80px;
}

.description_articles div{
    width: 45%;
}

#CEO_img {
    display: flex;
    justify-content: space-around;

    width: 100%;
}

.img_plus_description {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.img_plus_description img{
    margin-bottom: 25px;
    border-radius: 7px;

    width: 80%;
}


/*----------------------where we are----------------------*/

#map {
    width: 80%;
    height: 400px;
}


/*----------------------footer----------------------*/

footer {
    display: flex;
    align-items: center;

    /* position: absolute;
    bottom: 0; */

    margin-top: 50px;

    background-color: #660019;
    color: #EDEDED;

    width: 100%;
    height: 80px;
}

footer h2 {
    display: flex;
    align-items: center;
}

footer nav {
    display: flex;
    justify-content: space-around;

    width: 100%;
}

footer ul {
    list-style-type: none;

    padding: 0;
}

#endereco {
    flex-wrap: wrap;

    width: 25%;
}


/*----------------------classes gerais----------------------*/

.buttons {
    border-bottom: 2px solid transparent;
}

.buttons:hover {
    border-bottom: 2px solid #DA0037;
}

.button_jump:hover {
    box-shadow: -1px 0px 20px 5px #888888;
}



.sections_pattern {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; 

    padding-bottom: 40px;
    margin-top: 50px;

    background-color: #EDEDED;

    box-shadow: -1px 1px 20px 2px #DA0037;

    width: 100%;
}

.sections_titles {
    padding: 30px;
}

ion-icon {
    font-size: 20px;
}


/*----------------------querries----------------------*/

@media screen and (max-width: 425px) {
    /* -------------header------------- */

    header {
        flex-direction: column;
        justify-content: space-between;
    
        width: 100%;
        height: 100px;
    }
    
    header h1 {    
        margin-top: 10px;

        font-size: 2.6em;
    }
    
    #menu {
        margin: 15px;
    }
    
    .menu_itens {    
        font-size: 1.5em;
    }


    /* -------------spotlight------------- */
    
    #destaque {
        padding-bottom: 0;
    }

    #destaque figure {    
        width: 90%;
    }
    
    #destaque img {
        width: 100%;
    }
    
    #destaque h2 {
        font-size: 1.8em;
    }


    /* -------------brands------------- */
    
    #selecao_marcas ul {
        display: flex;
        flex-direction: column;
        align-items: center;
    
        padding: 0;
        margin: 0;
    }
    
    .marcas {
        flex-direction: column;
        align-items: center;
    
        width: 80%;
    
        font-size: 1.4em;
    }


    /* -------------about us------------- */

    .description_articles {
        flex-direction: column;
        align-items: center;
    
        font-size: 1.3em;
    }

    
    .description_articles div{
        width: 80%;

        margin-bottom: 35px;
    }
    
    #CEO_img {
        flex-direction: column;
        align-items: center;
    
        width: 100%;
    }
    
    .img_plus_description {
        margin-bottom: 15px;
    }
    
    .img_plus_description img{
        margin-bottom: 15px;

        width: 90%;
    }


    /* -------------general classes------------- */

    .sections_pattern {   
        padding-bottom: 20px;
    }
    
    .sections_titles {
        font-size: 1.9em;

        padding: 30px;
    }

}



